<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if url_for('user.index') in current_url() %} active {% endif %}" aria-current="page" href="{{ url_for('user.index') }}" >User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_for('role.index') in current_url() %} active {% endif %}" aria-current="page" href="{{ url_for('role.index') }}" >Role</a>
                </li>

            </ul>

            {% if auth() %}
                <a class="navbar-brand">{{ getUser() }}</a>

                <a class="btn btn-outline-danger" href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <form class="d-flex" action="{{ url_for('auth.login') }}" method="post">
                    <input class="form-control me-2" type="text" placeholder="username" name="name">
                    <input calss="form-control me-2" type="password" name="password">
                    <button class="btn btn-outline-success ms-2" type="submit">Login</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>